[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = "*"
tabulate = "*"
prompt-toolkit = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"

after pasting this kwa pipfile yako, I want you to run the following command kwa terminal
pipenv install